
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input type="text" matInput placeholder="Search a product" name="tag" [(ngModel)]="term">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div class="cards-container">
    
    <mat-card class="new-card"  *ngFor="let products of productsList | filter:term">
            <mat-card-header>
                <mat-card-title>{{products.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://api.predic8.de:443{{products.product_url}}/photo">
            <mat-card-actions align="end">
                <button mat-raised-button> $ {{products.price}}</button>
            </mat-card-actions>
    </mat-card>
    </div>
<!-- <app-search-bar (searchTextChanged)="onSearchTextEntered($event)"></app-search-bar>
            <div *ngIf="searchText ==='' || products.name.toLowerCase().includes(searchText)">

-->